body
{
	background: #ededeb
	font-family: Courier, monospace;
	color:#755A57;
}
h2
{
	text-align:center;
	font-family: 'Times New Roman', Times, serif;
}
ul 
{
	overflow: hidden;
	padding: 10px 0 20px 80px;
}
ol
{
	padding: 10px 0 20px 80px;
}
a
{
	text-decoration: none;
}
pre
{
	font-family: 'Times New Roman', Times, serif;
}
p
{
	padding: 10px 0 20px 80px;
}
.facts
{
	display: flex;
	width: 100%;
	justify-content: center;
	
}
.facts pre
{
	background: rgba(125, 143, 125, 0.3);
	justify-content: center;
	border-radius: 7px;
	padding: 15px 15px 15px 15px;
}
.content
{
	display: flex;
	margin: 10px 10px 10px 10px;
	justify-content: center;
}
.content-right
{
	padding: 15px 15px 15px 15px;
	margin: 20px 10px 20px 10px;
	background: rgba(125, 143, 125, 0.7);
	text-align: left;
	justify-content: right;
	border-radius:7px;
}
.content-right img
{
	height: 400px;
	border-radius:7px;
}
.content-left 
{
	padding: 30px 15px 30px 15px;
	margin: 20px 10px 20px 10px;
	background: rgba(125, 143, 125, 0.3);
	border-radius:7px;
	justify-content: left;
}
.content-left pre
{
	padding: 0 50px 0 50px;
	font-family: Courier, monospace;
}
.osebe
{
	display: inline-flex; 
	background: #7b917b;
  	list-style: none;
  	margin: 0;
  	padding: 10px 0 10px 0;
	width: 100%;
	justify-content: center;

}
.osebe li 
{
	border: #CADFCF;
	padding: 0 3px 0 3px;
	border-radius: 7px;
	background: rgba(237, 237, 235, 0.3);
	font-size: 13px;
	text-align:center;
	width: 22%;
	color:#ededeb;
	font-family:'Times New Roman', Times, serif;
	
}

